h1{
  text-align: center;
}
img{
  float:center;
  /* max-height: 700px; */
  /* height: 700px; */
  height: auto;
  /* max-width: 1000px; */
  /* width: 1000px; */
  max-width:72.5%;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  align-content: center;
  /* margin-left: 5%; */
  /* padding-left: 16px;
  padding-right: 16px; */
  margin-top: 0px;
  vertical-align: middle;
  display: flex;
}

.sidebarInfo {
  float: center;
  /* float: right; */
  /* padding: 0px 12px; */
  border: 1px solid #ccc;
  /* max-width: 325px; */
  width: 325px;
  /* max-width: 23.5%; */
  /* width: auto; */
  /* max-height: 600px; */
  height: 600px;
  /* height: auto; */
  /* margin-left: 25px; */
  text-align: center;
  /* margin-right: 15px; */
  /* margin-right: 15px; */
}


ul.nav{
    text-align: center;
    display: inline-table;
}

/* ul.nav li{
  display: inline-block;
} */

#backgroundUl{
  background-color: transparent;
}

.pex{
  margin-left: 15px;
}

.pex a:link {
  color: white;
  text-decoration: none;
  font-weight: normal
}

.pex a:active {
  color: white;
  text-decoration: none
}

.pex a:hover{
  color: darkcyan;
  text-decoration: none;
}

#Pexels{
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline;
}

#disclaimer{
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}



.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap li {
  /* background: gold; */
}

/* .wrap-reverse         {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
} */
/* .wrap-reverse li {
  background: deepskyblue;
} */

.flex-item {
  /* background: tomato; */
  padding: 5px;
  width: 500px;
  height: 200px;
  margin: 10px;
  font-weight: bold;

  text-align: center;
}
