h1{
  text-align: center;
}
img{
  height: 700px;
  width: 1000px;
  align-content: left;
  padding-top: 10px;
}

.sidebarInfo {
  float: center;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 325px;
  height: 600px;
  margin-left: 25px;
  text-align: center;
}


ul.nav{
    text-align: center;
}

ul.nav li{
  display: inline-block;
}


#disclaimer{
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 5px;
}
